/* index.css */

/* 기본 초기화 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  